@inherits LayoutComponentBase

<main>
   <div class="main-container">
    <Navbar />
    <div class="content">
        <div class="sidebar">
          
        </div>
        <div class="main">
            @Body
        </div>
    </div>
</div>
</main>
