@page "/graph"
<h3>Graphs</h3>

@code {

}
   <div class="centered_container">
       <h2>Weekly Forecast</h2>
<div class="temp_cards">
 <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">7</p>
            <p class="card-text">11</p>
        </div>
    </div>

 <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">73</p>
            <p class="card-text">11</p>
        </div>
    </div>

 <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">73</p>
            <p class="card-text">11</p>
        </div>
    </div>
 <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">73</p>
            <p class="card-text">11</p>
        </div>
    </div>
 <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">73</p>
            <p class="card-text">11</p>
        </div>
    </div>
 <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">73</p>
            <p class="card-text">11</p>
        </div>
    </div>

    </div>
        </div>
 <div class="centered_container">
       <h2>Weekly Forecast</h2>
<div class="temp_cards">
 <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">7</p>
            <p class="card-text">11</p>
        </div>
    </div>

 <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">73</p>
            <p class="card-text">11</p>
        </div>
    </div>



    </div>
        </div

        <div class="centered_container">
       <h2>Weekly Forecast</h2>
<div class="temp_cards">
 <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">7</p>
            <p class="card-text">11</p>
        </div>
    </div>

 <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">73</p>
            <p class="card-text">11</p>
        </div>
    </div>
 <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">73</p>
            <p class="card-text">11</p>
        </div>
    </div>

    </div>
        </div>
         <div class="centered_container">
       <h2>Weekly Forecast</h2>
<div class="temp_cards">
 <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">7</p>
            <p class="card-text">11</p>
        </div>
    </div>

 <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">73</p>
            <p class="card-text">11</p>
        </div>
    </div>
 <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">73</p>
            <p class="card-text">11</p>
        </div>
    </div>

    </div>
        </div>
