@page "/"

@inject WeatherApiService WeatherService

<Navbar/>
<Temperature/>

@code {
    private string weatherData;

    private async Task FetchWeatherData()
    {
        try
        {
            weatherData = await WeatherService.GetWeatherForecastAsync("London", 4, DateTime.Parse("2023-12-12"));
            Console.WriteLine(weatherData);
        }
        catch (Exception ex)
        {
            // Handle exceptions
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}

<button @onclick="FetchWeatherData">Fetch Weather Data</button>
