@page "/nav"
@code {
    string[] popularCities = {
    "New York",
    "London",
    "Paris",
    "Tokyo",
    "Beijing",
    "Sydney",
    "Rio de Janeiro",
    "Mumbai",
    "Cairo",
    "Rome",
    "Toronto",
    "Dubai",
    "Berlin",
    "Moscow",
    "Cape Town",
    "Seoul",
    "Mexico City",
    "Buenos Aires",
    "Istanbul",
    "Bangkok",
    "Dublin"
};

}


<div class="custom-navbar">
    <a class="navbar-brand" href="#">SkyWeather</a>

    <div class="nav-items">
        <input class="search-input" type="text" placeholder="Search" aria-label="Search">
        <button class="search-button" type="button">Search</button>
    </div>
</div>