@page "/nav"
@code {
    string[] popularCities = {
    "New York",
    "London",
    "Paris",
    "Dublin"
};

}


<div class="custom-navbar">
    <a class="navbar-brand" href="#">SkyWeather</a>

    <div class="nav-items">
        <input class="search-input" type="text" placeholder="Search" aria-label="Search">
        <button class="search-button" type="button">Search</button>
    </div>
</div>



<div class="cities_navbar">
    <div class="nav-items">
         <span class="popular_span">Popular</span>
          <span class="seperator_span">|</span>
        @foreach (var city in popularCities)
        {
                    <span class="separator_span">@city</span>
                                      <span class="separator_span">|</span>
            //<span>@GetTemperature(city)</span>
        }
    </div>
</div>
